<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../assets/favicon.ico">

  <title>CCET Esportes</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/css/style.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">CCET Esportes</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Equipes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Partidas</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h2>Classificação</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Pontos</th>
            <th>Equipe</th>
            <th>Partidas</th>
            <th>Vitórias</th>
            <th>Derrotas</th>
            <th>Empates</th>
            <th>GP</th>
            <th>GC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{range .}}
            <td>{{.Pontuacao}}</td>
            <td>{{.Nome}}</td>
            <td>{{.Partidas}}</td>
            <td>{{.Vitorias}}</td>
            <td>{{.Derrotas}}</td>
            <td>{{.Empates}}</td>
            <td>{{.GolsPro}}</td>
            <td>{{.GolsContra}}</td>
            {{end}}
          </tr>
        </tbody>
      </table>
    </div>
    </main>
  </div>
  </div>
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery-3.2.1.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>