<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../assets/favicon.ico">

  <title>CCET Esportes</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-4">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="../">CCET Esportes</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="../">Equipes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Partidas <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <h2>Partidas</h2>
    <button type="button" class="btn btn-primary adicionarpartida" onclick="window.location='./novo'"><i class="fa fa-plus" aria-hidden="true"></i> Partida</button> 
    {{ range $key, $value := . }}
    <div class="card text-center">
      <div class="card-block">
        <h4 class="card-title"><img src="../assets/img/equipes/{{$value.CodEquipe1}}.png" alt="{{$value.Equipe1.Nome}}}"> {{$value.Equipe1.Nome}}
          <span class="badge badge-default">{{$value.GolsEquipe1}}</span> X <span class="badge badge-default">{{$value.GolsEquipe2}}</span>          {{$value.Equipe2.Nome}} <img src="../assets/img/equipes/{{$value.CodEquipe2}}.png" alt="{{$value.Equipe2.Nome}}}">
        </h4>
        <p class="card-text">{{$value.Local}}</p>
      </div>
      <div class="card-footer text-muted" id="input">
        <time class="cw-relative-date" datetime="{{$value.Data}}"></time>
      </div>
    </div>
    {{end}}
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="../assets/js/jquery-3.2.1.min.js"></script>
  <script src="../assets/js/tether.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="../assets/js/moment-with-locales.js"></script>
  <script src="../assets/js/partida.js"></script>
  </script>


</body>

</html>